<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>Catalog Id</th>
        <th>Catalog Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="catalog,loop:${listCategories}">
            <td th:text="${loop.index+1}"></td>
            <td th:text="${catalog.catalogId}"></td>
            <td th:text="${catalog.catalogName}"></td>
            <td th:text="${catalog.description}"></td>
            <td th:text="${catalog.status?'Active':'Inactive'}"></td>
            <td></td>
        </tr>
    </tbody>

</table>
</body>
</html>